# ===== Virtual environment =====
.venv/
venv/

# ===== Dataset =====
data/raw/
data/processed/

# ===== Model weights =====
*.pth
*.pt
*.safetensors

# ===== Training outputs =====
outputs/models/
outputs/logs/

# ===== Cache =====
__pycache__/
*.pyc
.ipynb_checkpoints/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Editor =====
.vscode/
.idea/

# ===== Temporary / Office =====
~$*.docx
